[Unit]
Description=Doudizhu Game

[Service]
Type=simple
User=doudizhu
Group=doudizhu
Restart=on-failure
Environment=MIX_ENV=prod "PORT=4793"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/doudizhu/doudizhu
ExecStart=bash /home/doudizhu/doudizhu/start.sh

[Install]
WantedBy=multi-user.target
