/* This file is for your main application css. */


/*@import "./phoenix.css";*/

.info {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

#primary {
    margin: auto;
    padding: 10px;
}

#title {
    background-color: blueviolet;
    color: white;
    font-size: 30px;
    width: 706px;
    text-align: center;
    position: relative;
}

#index_div {
    width: 600px;
    border-style: solid;
    padding: 50px;
    border-block-start-width: 2px;
    align-items: center;
    justify-content: center;
    border-color: blueviolet;
    border-start-start-radius: 2px;
}

#table_name {
    height: 40px;
    font-size: 20px;
}

#user_name {
    height: 40px;
    font-size: 20px;
}

#submit {
    background-color: blueviolet;
    color: white;
    font-size: 20px;
    border-radius: 12px;
    width: 120px;
    height: 80px;
    right: 100px;
    bottom: 10px;
}

#chatBoard {
    width: 500px;
    height: 200px;
    position: absolute;
    right: 405px;
    top: 100px;
    padding: 10px;
    background-color: #2b2b2b;
    color: white;
    font-size: 17px;
    border: 10px inset silver;
    border-radius: 10px;
}

#sendButton {
    position: absolute;
    right: 425px;
    top: 350px;
    border: 3px solid gray;
    border-radius: 5px;
    background-color: transparent;
    color: black;
    width: 90px;
    height: 37px;
}

#textInput {
    position: absolute;
    right: 530px;
    top: 350px;
    background-color: #2b2b2b;
    color: white;
    font-size: 17px;
    border: 5px inset silver;
    border-radius: 10px;
}

#textInput {
    size: 55;
}