<script>
  

  function jump() {
     localStorage.setItem('user_name', document.getElementById("user_name").value);
     let name = document.getElementById("table_name").value;
     window.location.href = "/game/" + name;
  }
</script>


<div>
<p> Table Name: <input type= "text" id="table_name"> </p>
<p> User Name: <input type="text" id="user_name"></p>
<p><button id="submit" onClick= jump()>Join A Table</button></p>
</div>
